@font-face {
  font-family: "Inter";
  src: url(../fonts/InterRegular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/InterMedium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/InterSemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/InterBold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #111111;
}

.user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 920px;
  width: 100%;
  padding: 15px 16px;
  border-radius: 32px;
  border: 1px solid #2A2A2A;
  background-color: #1A1A1A;
}

.user-panel__left,
.user-panel__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-panel__avatar {
  width: 72px;
  height: 72px;
  border-radius: 16px;
}

.user-name {
  margin: 0 0 8px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.user-job-title {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  color: #A1A1AA;
}

.user-status {
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.user-status::before {
  content: none;
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.user-status.online {
  color: #A2F916;
}

.user-status.online::before {
  content: '';
  background-color: #A2F916;
}

.user-status.offline {
  color: #82797d;
}

.user-status.offline::before {
  content: '';
  background-color: #82797d;
}

.user-button_open-profile {
  min-width: 175px;
  padding: 16px;
  border-radius: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #27272A;
  transition: .3s;
}

.user-button_open-profile:hover {
  background-color: #454549;
}

.user-button_open-profile:active {
  background-color: #74747a;
}
